@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;1,400;1,600&display=swap');

*{
  
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:sans-serif;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */

}


.contact-info {
    margin-top: 20px;
    text-align: center;
  }
  /* Style for form inputs */
input[type="text"], input[type="email"],input[type="range"] ,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  /* Style for the submit button */
  input[type="submit"] {
    background-color: #e21a3f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  /* Style for the contact form */
.contact-form {
    width: 50%;
    margin: 0 auto;
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 10px;
  }

  .heading{
    font-size: 28px;
    text-align: center; 
    text-decoration: underline 5px;
    text-decoration-color: #dc0f27;
   }